<div id="contest-thanks">
	<h2>1. Thank You</h2>
	<p>
		Share this Contest on your Facebook and increase your chances of winning!
	</p>
	<ul class="contest-social">
		<li>
			<a href="javascript:void(0)" class="fb-share">Fb Share</a>
		</li>
		<li>
			<a href="javascript:void(0)" class="twitter-share" title="Click to share this post on Twitter">Share on Twitter</a>
	</ul>
	<h2>2. Stay Update</h2>
	<p>
		Make sure you get our notification when we announce our winners each week!
	</p>
	<img src="<%= baseUrl %>/contest/images/notified.gif" width="615" height="247" alt="" />
</div>
<div id="blue-done-btb">
	<a href="#/contest" class="done">Done</a>
</div>
<div class="clear"></div>
