<div id="contest-quiz" class="setup-row-contest">
	<div class="control-group question" style="position:relative">
		<!--
		<div class="setup-row-left-sub">
			<label>Question</label>
		</div>
		<div class="setup-row-right">
			<input type="text" name="meta[content][question]" class="setup-field-1" placeholder="Why is brand X the best drink in the world ?" value="<%= quiz.question %>" required />
			<div class="sub-label counter-limiter">
				Character limit <strong>100</strong>
			</div>
		</div>
		-->
		
		<label style="font-size: 13px;position: absolute; top:11px; left:23px;">Question</label>
		<input type="text" name="meta[content][question]" class="setup-field-border" 
			   placeholder="Why is brand X the best drink in the world ?" value="<%= quiz.question %>" required 
			   style="width:90%; padding-left: 70px;">
		<div class="sub-label counter-limiter">
			Character limit <strong>100</strong>
		</div>

		<div class="clear"></div>
	</div>
	<div class="control-group">
		<!--
		<div class="setup-row-left-sub">
			Is there a Youtube videos for this quiz ?
		</div>
		<div class="setup-row-right">
			<input type="radio" name="meta[content][thumbnail][type]" class="quiz-field" value="video" <%= (quiz.thumbnail.type == 'video') ? 'checked' : '' %> />
			Yes
			<input type="radio" name="meta[content][thumbnail][type]" class="quiz-field" value="pic" <%= (quiz.thumbnail.type == 'pic') ? 'checked' : '' %> />
			No
		</div>
		-->
		<label class="quiz-label">Is there a Youtube videos for this quiz ?</label>
		
	</div>
	
	<div class="upload-quiz-content-wrapper">
		<div class="quiz_selection">
			<div class="abc">
				<input type="radio" value="video" class="radio-quiz" name="meta[content][thumbnail][type]" <%= (quiz.thumbnail.type == 'video') ? 'checked' : '' %>>
			</div>
			<label for="abc">Yes</label>
			<span>OR</span>
			<div class="abc1">
				<input type="radio" value="pic" class="radio-quiz" name="meta[content][thumbnail][type]" <%= (quiz.thumbnail.type == 'pic') ? 'checked' : '' %>>
			</div>
			<label for="abc1"> No</label>
		</div>
		<div id="select_quiz_type" class="<%= (quiz.thumbnail.type == 'video') ? 'video' : 'pic' %>">
			<!-- quiz video -->
			<div class="quiz_video arrow_box">
				<div class="si-wrapper">
					<div class="siw-title">
						Please provide the Youtube Link URL
					</div>
					<div class="siw-field">
						<input type="text" name="meta[content][thumbnail][value][video][url]" id="youtube" class="sfield" value="<%= quiz.thumbnail.value.video.url %>">
					</div>
				</div>
			</div>
			<!-- quiz image -->
			<div class="quiz_image arrow_box">
				<div class="si-wrapper">
					<div class="si1-left">
						<div class="uploaded-image">
							<div class="ajax-spin"></div>
							<img src="<%= quiz.thumbnail.value.pic.url %>" width="140" height="85" alt="<%= quiz.thumbnail.value.pic.name %>">
						</div>
					</div>
					<div class="si1-right setup-row-right">
						<div class="si1r-top">
							Select an image file on your computer.
						</div>
						<div class="si1r-field">
							<input type="text" name="meta[content][thumbnail][value][pic][name]" value="<%= quiz.thumbnail.value.pic.name %>" readonly="readonly" class="s1tfield">
						</div>
						<div class="si1r-browse">
							<input type="button" value="Browse" class="select-image btn">
							<input type="file" id="quiz-pic-img" style="display:none;" />
							<input type="hidden" name="meta[content][thumbnail][value][pic][url]" value="<%= quiz.thumbnail.value.pic.url %>" />
						</div>
						<div class="si1r-bottom"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--
	<div id="setup-quiz-field" class="control-group <%= (quiz.thumbnail.type == 'video') ? 'video' : 'pic' %>">
		<div class="quiz-pic">
			<div class="setup-row-left-sub" style="position: relative; text-align: center">
				<div class="uploaded-image">
					<div class="ajax-spin"></div>
					<img src="<%= quiz.thumbnail.value.pic.url %>" height="60" />
				</div>
			</div>
			<div class="setup-row-right" style="float: left">
				<label style="display: block; margin: 5px 0;">Choose image on your computer</label>
				<div class="setup-coloumn">
					<input type="text" name="meta[content][thumbnail][value][pic][name]" class="setup-field-2 img-name" value="<%= quiz.thumbnail.value.pic.name %>" readonly="readonly" />
				</div>
				<div class="setup-image">
					<button class="select-image" type="button"></button>
					<input id="quiz-pic-img" type="file" style="display:none;" />
					<input type="hidden" name="meta[content][thumbnail][value][pic][url]" value="<%= quiz.thumbnail.value.pic.url %>" />
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="quiz-video">
			<div class="setup-row-left-sub" style="text-align: center">
				Youtube URL
			</div>
			<div class="setup-row-right" style="float: left">
				<input type="text" name="meta[content][thumbnail][value][video][url]" class="setup-field-1" value="<%= quiz.thumbnail.value.video.url %>" />
			</div>
			<div class="clear"></div>
			<div class="setup-row-left-sub" style="position: relative; text-align: center">
				<div class="uploaded-image">
					<div class="ajax-spin"></div>
					<img src="<%= quiz.thumbnail.value.video.img %>" height="60" />
				</div>
			</div>
			<div class="setup-row-right" style="float: left">
				<label style="display: block; margin: 5px 0;">Choose image on your computer</label>
				<div class="setup-coloumn">
					<input type="text" name="meta[content][thumbnail][value][video][name]" class="setup-field-2 img-name" value="<%= quiz.thumbnail.value.video.name %>" readonly="readonly" />
				</div>
				<div class="setup-image">
					<button class="select-image" type="button"></button>
					<input id="quiz-video-img" type="file" style="display:none;" />

					<input type="hidden" name="meta[content][thumbnail][value][video][img]" value="<%= quiz.thumbnail.value.video.img %>" />
				</div>
			</div>
		</div>
	</div>
	-->
	<div class="control-group choices" style="margin-left: 20px;">
		<h5 style="margin-bottom: 10px; font-weight: bold">Choices</h5>
		<ul>
			<li>
				<label>A</label>
				<input type="text" name="meta[content][choices][a]" class="setup-field-1" value="<%= quiz.choices.a %>" />
			</li>
			<li>
				<label>B</label>
				<input type="text" name="meta[content][choices][b]" class="setup-field-1" value="<%= quiz.choices.b %>" />
			</li>
			<li>
				<label>C</label>
				<input type="text" name="meta[content][choices][c]" class="setup-field-1" value="<%= quiz.choices.c %>" />
			</li>
			<li>
				<label>D</label>
				<input type="text" name="meta[content][choices][d]" class="setup-field-1" value="<%= quiz.choices.d %>" />
			</li>
		</ul>
	</div>
	<div class="control-group question">
		<div class="setup-row-left-sub">
			Answer is
		</div>
		<div class="setup-row-right">
			<select id="choice-answer" name="meta[content][answer]" required>
				<option value="a" <%= (quiz.answer == 'a') ? 'selected' : '' %>>A</option>
				<option value="b" <%= (quiz.answer == 'b') ? 'selected' : '' %>>B</option>
				<option value="c" <%= (quiz.answer == 'c') ? 'selected' : '' %>>C</option>
				<option value="d" <%= (quiz.answer == 'd') ? 'selected' : '' %>>D</option>
				<option value="e" <%= (quiz.answer == 'e') ? 'selected' : '' %>>E</option>
			</select>
		</div>
	</div>
	<div class="control-group question">
		<div class="setup-row-left-sub">
			Force Correct Answer
		</div>
		<div class="setup-row-right">
			<select name="meta[content][force][type]" class="select-field-toggle">
				<option value="1" <%= (quiz.force.type)  ? 'selected' : '' %>>Yes</option>
				<option value="0" <%= (!quiz.force.type) ? 'selected' : '' %>>No</option>
			</select>
			<textarea name="meta[content][force][value]" class="setup-textarea-1" placeholder="Key in educational message here" style="margin-top: 10px;"><%= quiz.force.value %></textarea>
			<div class="sub-label counter-limiter">
				Character limit <strong>400</strong>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>